.Employee table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.Employee th, .FEmployee td {
    border: 1px solid #5f5d5d;
    padding: 8px;
}

.Employee th {
    background-color: #f2f2f2;
}

.td {
    
}